[Desktop Entry]
Type=Application
Version=1.0
Name=Eclipse
Icon=/opt/eclipse/plugins/org.eclipse.platform_4.2.1.v201209141800/eclipse256.png
Exec=/opt/eclipse/eclipse
Categories=Development;
