[Desktop Entry]
Type=Application
Version=1.0
Name=Eclipse
Icon=/opt/eclipse/plugins/org.eclipse.platform_4.3.0.v20130530-1430/eclipse256.png
Exec=/opt/eclipse/eclipse
Categories=Development;
