[Desktop Entry]
Type=Application
Version=1.0
Name=Eclipse
Icon=/opt/eclipse/plugins/org.eclipse.platform_4.3.0.v20130605-2000/eclipse256.png
Exec=/opt/eclipse/eclipse
Categories=Development;
